# Instructions

The assignment consists of three tasks:

- Run the T-test for the means of two independent samples underlying the statement "IRE binding activity was significantly reduced in failing hearts" (originally published by Haddad et al. in https://doi.org/10.1093/eurheartj/ehw333) using the following example data.

| non-failing heart (NF) | failing heart (F) |
| ---------------------- | ----------------- |
| 95 | 50 |
| 103 | 35 |
| 99 | 21 | 
| &nbsp; | 15 | 
| &nbsp; | 7 | 
| &nbsp; | 40 |

- Describe the statistical hypothesis test in machine readable form following the [statistical methods ontology concept for "two sample t-test with unequal variance"](https://www.ebi.ac.uk/ols/ontologies/stato/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FSTATO_0000304) using Semantic Web technologies, namely the Resource Description Framework (RDF)
- Process the resulting machine readable description using Semantic Web technologies, namely the SPARQL Protocol and RDF Query Language.

Please return the assignment with all outputs visible (i.e., do not clear the outputs).

Good luck!

In [109]:
# Import all required libraries (some are missing)
from rdflib import Graph, Literal, BNode, Namespace, RDF, URIRef
#from rdflib import Graph, URIRef
from rdflib.namespace import RDF,XSD
#from rdflib.namespace import XSD

from scipy import stats

In [110]:
import pandas as pd
df = pd.read_csv('data.csv')
df.fillna(df.mean(), inplace=True)

In [111]:
df

      NF   F
0   95.0  50
1  103.0  35
2   99.0  21
3   99.0  15
4   99.0   7
5   99.0  40

In [112]:
df[['NF','F']].describe()

               NF          F
count    6.000000   6.000000
mean    99.000000  28.000000
std      2.529822  16.346253
min     95.000000   7.000000
25%     99.000000  16.500000
50%     99.000000  28.000000
75%     99.000000  38.750000
max    103.000000  50.000000

In [133]:
# Run the T-test for the means of two independent samples using the example data

# labels = ...
# data = ...
labels = ['NF, F']
data = [[95,50],[103,35],[99,21],[99,15],[99,7],[99,40]]
for row in data:
    print(' '.join([str(elem) for elem in row]))

95 50
103 35
99 21
99 15
99 7
99 40

In [134]:
labels

['NF, F']

In [135]:
data

[[95, 50], [103, 35], [99, 21], [99, 15], [99, 7], [99, 40]]

In [143]:
# Print the p-value

df['difference'] = df['NF'] - df['F']

stats.shapiro(df['NF'])
stats.shapiro(df['difference'])
stats.ttest_rel(df['NF'], df['F'])
#stats.ttest_ind(df['NF'], df['F'])

Ttest_relResult(statistic=10.0813225578854, pvalue=0.00016443294786084895)

In [43]:
# Describe the statistical hypothesis test in machine readable form

# First, we initialize an RDF Graph and bind some prefixes
g = Graph()
g.bind('obo', 'http://purl.obolibrary.org/obo/')
g.bind('ex', 'http://example.org/')

# Next, we define some needed vocabulary
obo = dict()
obo['two sample t-test with unequal variance'] = URIRef('http://purl.obolibrary.org/obo/STATO_0000304')
obo['has specified input'] = URIRef('http://purl.obolibrary.org/obo/OBI_0000293')
obo['has specified output'] = URIRef('http://purl.obolibrary.org/obo/OBI_0000299')
obo['p-value'] = URIRef('http://purl.obolibrary.org/obo/OBI_0000175')
obo['has value specification'] = URIRef('http://purl.obolibrary.org/obo/OBI_0001938')
obo['scalar value specification'] = URIRef('http://purl.obolibrary.org/obo/OBI_0001931')
obo['has specified numeric value'] = URIRef('http://purl.obolibrary.org/obo/OBI_0001937')
obo['iron-responsive element binding'] = URIRef('http://purl.obolibrary.org/obo/GO_0030350')

# Now, populate the graph with statements
# As an example, the following statement types the resource (blank node) 'n1' as 'two sample t-test with unequal variance'
n1 = BNode()
g.add((n1, RDF.type, obo['two sample t-test with unequal variance']))

# Now, state that the t-test has iron-responsive element binding as a specified input (one statement to complete)
n2 = BNode()
g.add((n1, obo['has specified input'], n2))
g.add((n1, obo['iron-responsive element binding'], obo['has specified input']))

# Next, state that the t-test has the p-value computed above as a specified output (two statements to complete)
g.add((n1, obo['p-value'], n1))
g.add((n1, obo['has specified output'], n1))

# The literal value of the p-value is represented as a scalar value specification with a specified numeric value (three statements to complete)
g.add((n1, obo['has value specification'], n2))
#g.add((n1, obo['has value specification'], n2))
#g.add((n1, obo['scalar value specification'], n2))
g.add((n1, obo['scalar value specification'], n2))
# Type the literal as double
g.add((n2,  obo['has specified numeric value'], Literal(n2, datatype=XSD.double)))
#g.add((n2,  obo['has specified numeric value'], Literal(n2, datatype=XSD.double)))
#g.add((n2,  obo['has specified numeric value'], Literal(n1)))
# Finally, serialize and print the graph in RDF/XML format
print(g.serialize(format='n3') )
print( g.serialize(format='xml') )
#g.serialize(destination='output.txt', format='turtle')

@prefix ex: <http://example.org/> .
@prefix obo: <http://purl.obolibrary.org/obo/> .
@prefix rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#> .
@prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#> .
@prefix xml: <http://www.w3.org/XML/1998/namespace> .
@prefix xsd: <http://www.w3.org/2001/XMLSchema#> .

_:Nb067ef0378064d528beb10e92379a5fa a obo:STATO_0000304 ;
    obo:GO_0030350 obo:OBI_0000293 ;
    obo:OBI_0000175 _:Nb067ef0378064d528beb10e92379a5fa ;
    obo:OBI_0000293 _:Nff6dace3c71244bba48f35278bbb1f20 ;
    obo:OBI_0000299 _:Nb067ef0378064d528beb10e92379a5fa ;
    obo:OBI_0001931 _:Nff6dace3c71244bba48f35278bbb1f20 ;
    obo:OBI_0001938 _:Nff6dace3c71244bba48f35278bbb1f20 .

_:Nff6dace3c71244bba48f35278bbb1f20 obo:OBI_0001937 "Nff6dace3c71244bba48f35278bbb1f20"^^xsd:double .


<?xml version="1.0" encoding="UTF-8"?>
<rdf:RDF
   xmlns:obo="http://purl.obolibrary.org/obo/"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
>
  <rdf:Description rdf:nodeID="Nb067ef0378064d528beb10e92379a5fa">
    <obo:OBI_0000175 rdf:nodeID="Nb067ef0378064d528beb10e92379a5fa"/>
    <obo:GO_0030350 rdf:resource="http://purl.obolibrary.org/obo/OBI_0000293"/>
    <rdf:type rdf:resource="http://purl.obolibrary.org/obo/STATO_0000304"/>
    <obo:OBI_0001938 rdf:nodeID="Nff6dace3c71244bba48f35278bbb1f20"/>
    <obo:OBI_0000299 rdf:nodeID="Nb067ef0378064d528beb10e92379a5fa"/>
    <obo:OBI_0001931 rdf:nodeID="Nff6dace3c71244bba48f35278bbb1f20"/>
    <obo:OBI_0000293 rdf:nodeID="Nff6dace3c71244bba48f35278bbb1f20"/>
  </rdf:Description>
  <rdf:Description rdf:nodeID="Nff6dace3c71244bba48f35278bbb1f20">
    <obo:OBI_0001937 rdf:datatype="http://www.w3.org/2001/XMLSchema#double">Nff6dace3c71244bba48f35278bbb1f20</obo:OBI_0001937>
  </rdf:Description>
</rdf:RDF>

/home/amr/myapp/local/lib/python2.7/site-packages/rdflib/term.py:1262: UserWarning: Serializing weird numerical rdflib.term.Literal(u'Nff6dace3c71244bba48f35278bbb1f20', datatype=rdflib.term.URIRef(u'http://www.w3.org/2001/XMLSchema#double'))
  warnings.warn("Serializing weird numerical %r" % self)

In [54]:
# Process the machine readable statistical hypothesis test by completing the following SPARQL query that returns the p-value

q = """
PREFIX obo: <http://purl.obolibrary.org/obo/>

SELECT ?pvalue WHERE {
  ?r a obo:STATO_0000304 .
  ?r obo:OBI_0000293 [ a obo:GO_0030350 ] .
  ?r obo:OBI_0000299 [ a obo:GO_0000175] .
  ?r obo:OBI_0001937 [ a obo:GO_0001931] .
  
}
"""

for qs in g.query(q):
    print(qs[0])